{% extends 'base.html.twig' %}

{% block title %}ERREUR - MR-GATEAUX -{% endblock %}

{% block body %}

<div class="blockLogin">
    <div class="loginGauche">
        <p class="titreText">ERREUR</p>
        <p>Page introuvable</p>
    </div>
    <div class="loginDroite">
        <p>La page que vous demander n'est pas existante</p>
    </div>
</div>
{% endblock %}
